.wrapper {
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.players {
  flex-shrink: 0;
}

.board {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 4px;
  gap: 4px;
}

.card {
  border: 1px solid;
  width: 80px;
  height: 120px;
}

.pointCard--open {
  /* TODO */
}

.actionCard--open {
  /* TODO */
}

.pointCard--closed,
.actionCard--closed {
  height: 90px;
  width: 60px;
}

.hand {
  display: flex;
  gap: 4px;
}

.inventory {
  width: 180px;
  height: 80px;
  border: 1px solid;
  padding: 4px;
  box-sizing: border-box;
}
