.wrapper {
  display: flex;
  position: relative;
  height: calc(100vh - 140px);
  box-sizing: border-box;
}

.players {
  flex-shrink: 0;
  position: relative;
  width: 126px;
  bottom: 0;
  padding-right: 16px;
}

.board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
  gap: 4px;
  flex: 1;
}

.actionCards {
  display: flex;
  gap: 4px;
  width: 100%;
  margin: 0 1rem;
  max-width: calc(100vw - 150px - 180px - 170px - 6px - 2rem);
  box-sizing: border-box;
  overflow-x: auto;
}

.actionCard {
  width: 82px;
}

.coins {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  margin-top: 8px;
}

.pointCards {
  display: flex;
  padding-bottom: 1rem;
  gap: 4px;
  width: 170px;
  overflow-x: auto;
  flex-shrink: 0;
}

.table {
  flex: 1;
  padding-right: 1rem;
}

.hand {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  height: 138px;
}

.inventory {
  width: 180px;
  height: 80px;
  border: 1px solid;
  padding: 4px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

.upgrade {
  border: 1px solid lightgrey;
  cursor: pointer;
}

.upgrade input {
  display: none;
}

.upgrade--checked {
  border-color: black;
}

.fieldset {
  margin-bottom: 8px;
}
