/* PLAYER */
.player {
  box-sizing: border-box;
  margin-bottom: 4px;
  padding: 4px 0;
  height: 100%;
  cursor: pointer;
  margin-left: 4px;
}
.player--hovered {
  display: flex;
  position: absolute;
  left: 124px;
  padding: 2px;
  background-color: white;
}
.player--full {
  position: unset;
}

.player__name {
  background-color: lightsalmon;
  padding: 4px 8px;
  margin: 0 0 4px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.player__name--active {
  background-color: palegreen;
}

.playerOverview {
  display: flex;
}
.playerOverview__separator {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 12px;
  padding: 4px;
  margin: 0 4px;
  width: 12px;
  height: 72px;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.playerOverview__separatorText {
  transform: rotate(-90deg);
}
.playerOverview__cards {
  display: flex;
  gap: 4px;
  overflow-x: auto;
}

/* INVENTORY */
.gems {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 2px;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
}
.gems--large {
  grid-gap: 4px;
}

.grid {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid--selected {
  border-width: 2px;
  padding: 3px;
}

.gem {
  width: 12px;
  height: 12px;
}
.gem--small {
  width: 8px;
  height: 8px;
}
.gem--uncolored {
  background-color: lightsteelblue;
}
.gems--large .gem {
  width: 16px;
  height: 16px;
}
.gems--selectable .gem:not(.gem--empty) {
  cursor: pointer;
}

.gemTiers {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.gem-0 {
  background-color: khaki;
}
.gem-1 {
  background-color: mediumseagreen;
}
.gem-2 {
  background-color: cornflowerblue;
}
.gem-3 {
  background-color: indianred;
}

/* CARD */
.card {
  border: 1px solid;
  width: 80px;
  height: 120px;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  display: inline-block;
}
.card--closed {
  height: 90px;
  width: 60px;
  display: flex;
  align-items: center;
  padding: 4px;
}
.card--small {
  height: 76px;
  width: 50px;
  border-radius: 4px;
}
.card--closed.card--small {
  height: 68px;
  width: 42px;
}
.card__text {
  display: flex;
  justify-content: center;
  text-align: center;
  transform: rotate(-45deg);
}
.card--small .card__text {
  font-size: 12px;
  transform: rotate(0);
}

.pointCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pointCard__point {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  display: block;
  width: 32px;
  line-height: 32px;
  border-radius: 999px;
  text-align: center;
  font-weight: bold;
  border: 4px solid slateblue;
  color: slateblue;
  box-sizing: content-box;
}
.point--small {
  width: 18px;
  line-height: 18px;
  border-width: 2px;
  font-size: 10px;
}

.price {
  height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;
}
.card--small .price {
  height: 16px;
}

.sign {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}
.card--small .sign {
  font-size: 12px;
  line-height: 16px;
}

.coins {
  box-sizing: border-box;
  width: 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  gap: 4px;
}
.coins--gold .coin {
  background-color: goldenrod;
  border: 1px solid darkgoldenrod;
}
.coins--silver .coin {
  background-color: silver;
  border: 1px solid darkgray;
}

.coin {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.coinRemainder {
  font-size: 12px;
}

.arrow {
  font-size: 12px;
  line-height: 14px;
}
