/* PLAYER */
.player {
  box-sizing: border-box;
  margin-bottom: 4px;
  padding: 4px;
}

.playerName {
  background-color: lightsalmon;
  padding: 4px 8px;
  margin: 0 0 4px 0;
  text-transform: uppercase;
}
.playerName--active {
  background-color: palegreen;
}

/* INVENTORY */
.gems {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 2px;
  box-sizing: border-box;
  grid-template-columns: repeat(5, 1fr);
}
.gems--large {
  grid-gap: 4px;
}

.grid {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid--selected {
  border-width: 2px;
  padding: 3px;
}

.gem {
  width: 12px;
  height: 12px;
}
.gem--uncolored {
  background-color: lightsteelblue;
}
.gems--large .gem {
  width: 16px;
  height: 16px;
}
.gems--selectable .gem:not(.gem--empty) {
  cursor: pointer;
}

.gem-0 {
  background-color: burlywood;
}
.gem-1 {
  background-color: mediumseagreen;
}
.gem-2 {
  background-color: cornflowerblue;
}
.gem-3 {
  background-color: indianred;
}

/* CARD */
.card {
  border: 1px solid;
  width: 80px;
  height: 120px;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
  display: inline-block;
}

.pointCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pointCard__point {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  display: block;
  width: 32px;
  line-height: 32px;
  border-radius: 999px;
  text-align: center;
  font-weight: bold;
  border: 4px solid slateblue;
  color: slateblue;
  box-sizing: content-box;
}

.price {
  height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 4px;
}

.sign {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}
