body {
  margin: unset;
  padding: unset;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.page__title {
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #019ca9;
  transition: color 0.1s ease-in-out;
}
a:hover {
  cursor: pointer;
  color: #2ac5d2;
}
